
<div class="row columns" id="header">
  <div class="small-5 columns align-self-middle">
    <div id="com-u">Com U Chat App</div>
  </div>
  <div class="columns align-self-middle" id="button-wrapper">
    <button class="button primary">
      <i class="fi-key"></i>&nbsp;&nbsp;Sign In With Google
    </button>
    <button class="button alert">
      <i class="fi-power"></i>&nbsp;&nbsp;Sign Out
    </button>
  </div>
</div>

<div class="row columns">

  <div class="columns">
    <input type="text" id="message" placeholder="Chat here..." (keyup.enter)="sendChat($event.target.value)" [(ngModel)]="msgVal" />

    <div class="chat-container" *ngFor="let item of items">
      <a href="#"><i class="fi-torso"></i> {{item.name}} &bull; <i class="fi-clock"></i> {{ item.createdAt | date: 'MM-d-yyyy hh:mm:ss a'}}</a>
      <p>{{item.message}}</p>
    </div>

  </div>

</div>