input#message {
   background:none;
   border:none;
   border-bottom: 1px solid #DDDDDD;
   outline:none;
   box-shadow:none;
   color: #717171;
   font-size:1.6em;
   font-weight:300;
   margin-bottom: 1em;
   padding:1.2em 0;
}

#header {
   margin-bottom: 2em;
}

#button-wrapper {
   text-align: right;
}

#button-wrapper button {
   margin: 0;
}

#com-u {
   background: #2196F3;
   font-size: 1.3em;
   line-height: 1;
   color: #FFF;
   padding: 11px 20px;
   font-weight: bold;
   display: inline-block;
}

.chat-container {
   display:block;
   width:100%;
}

.chat-container a {
   text-transform: uppercase;
   font-weight:300;
   color: #009688;
   font-size:.8em;
   letter-spacing:2px;
}

.chat-container p {
   background:#009688;
   padding:10px;
   color:white;
   margin: 5px 0 10px 0;
}

#no-messages {
   font-size: 1.3em;
   color: #009688;
}

#tagline {
   font-size: 0.7em;
}