/* You can add global styles to this file, and also import other style files */
body {
    /*background:#242226;*/
    background: #FFF;
    padding-top: 3em;
    border-top: 8px solid #d8d8d8;
}

* {
    font-family: 'Raleway';
}